@use './partials/variables.scss' as *;
@use './partials/mixins.scss' as *;

@import "~bootstrap/scss/bootstrap";

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
}

ul{
    list-style-type: none;
}

ul li a{
    text-decoration: none;
}

.container{
    width: 1200px;
}

header{
    @include marginAuto;
    height: 7rem;
    @include flex(row, space-between, center);
    img{
        height: 70%;
    }
    ul{
        @include flex();
        height: 100%;
        li{
            @include flex();
            height: 100%;
            margin-left: 2rem;
            text-transform: uppercase;
            font-weight: 600;
            font-size: $fontSizeSmall;
        }
        li:hover{
            @include flex();
            height: 100%;
            color: $blueColor;
            border-bottom: 3px solid $blueColor;
        }
    }
}